*{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
#header{
    background-color: #00253c;
    color: white;
    height:4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10rem;
    padding-left: 10rem;
}
.header-left{
    display: flex;
    width:26%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    justify-content: space-between;
}
.header-left>div:nth-child(1) img{
    width: 100%;
}
.header-left>div:nth-child(1){
    height: 100%;
    width: 53%;
    display: flex;
    align-items: center;
}
.header-left>div:nth-child(2){
    width: 37%;
    display: flex;
    align-items: center;
}
.header-right{
    height: 28%;
    width:35%;
    display: flex;
    justify-content: space-between;
}
.header-right p{
    font-size: 0.9rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.header-right>div:nth-child(5){
    display: flex;
    align-items:flex-end;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.header-right>div:nth-child(5)>a:hover{
    color: #00a4bb;
}
.header-right>div:nth-child(5)>a{
    text-decoration: none;
    color: white;
    margin-bottom: -1%  ;
}
#header p:hover,.header-left img:hover{
    background: none;
    color: #00a4bb;
    fill: #00a4bb;
    cursor: pointer;
}
.header-left div:nth-child(2):hover{
    color: #00a4bb;
    fill: #00a4bb;
    cursor: pointer;
}
a{
    width: 100%;
}
.container {
    width:100%;
    position: relative;
}

.click{
    background-color: transparent;
    color: white;
}
.click,.links {
    font-size: 0.9rem;
    font-weight: 600;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: none;
    outline: none;
    width:100%;
}

.click>p>i{
    margin-top: 3%;
    vertical-align: top;
    font-size: 80%;
}
.list {
    margin-top: 0.6rem;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    z-index: 1;
}

.newlist {
    transform: scaleY(1);
}

.links {
    background-color: white;
    color:black;
    height: 2.8rem;
    width: 24rem;
    text-align: left;
    padding:0 2rem;
    font-size: 1rem;
    cursor: pointer;
}
.links>a{
    text-decoration: none;
    color: black;
}
.links>a:hover{
    color: #00a4bb;
    fill: #00a4bb;
}
.links:hover{
    color: #00a4bb;
    fill: #00a4bb;
}
.links:nth-child(1){
    margin-top: 20px;
}
.links:nth-child(9){
    margin-bottom: 20px;
}
