body{
    margin:0;
    padding: 0;
}
form {
    margin: -2rem auto auto auto;
    width: 30%;
    padding: 30px;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}
form>h2{
    font-size: 1.8rem;
    margin-bottom: 2%;
}
* {
    box-sizing: border-box;
}
label {
     font-size: 16px;
}
input[type="text"],input[type="password"]{
    width: 100%;
    padding: 2.8%;
    border: 1px solid #acacac;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6%;
    resize: vertical;
    font-size: 1rem;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}
input[type="submit"] {
    background-color: #2b619e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: none;
}
input+p{
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
}
a{
    text-decoration: none;
}
#header{
    BOX-SHADOW:rgba(0, 0, 0, 0.12) 0px 1px 0px 0px;
    height: 3rem;
    display: flex;
    align-items: center;
}
#header>div{
    margin: auto;
    width: 11%;
}
#header img{
    width:100%;
}
#header p{  
    height: fit-content;
    margin-left:1rem;
    font-size: 1.4rem;
    color:#007e8f;
}
input[type="checkbox"]{
    height: 20px;
    width: 20px;
}
#log{
    margin-top: 7%;
    display: flex;
    font-size: 1rem; 
    color: #616161;
}
input[type="submit"] {
    background-color: #c83259;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-top: 5%;
    margin-bottom: none;
}
input[type="submit"]:hover{
    background-color: #be4867;
}
#ab{
    font-size: 0.8rem;
    margin: 0;
    color: #616161;
}
#tc{
    margin-top: 1%;
    font-size: 0.9rem;  
}
#tc>a{
    color: #328491;
}
#tc>a:hover,#for>a:hover{
    text-decoration: underline;
}
#for>a{
    color: #007e8f;
}
#for{
    margin-top: 5%;
    font-size: 0.9rem;
    color: #616161;
}
#for+p{
    text-align: center;
    color: #616161;
    font-size: 0.9rem;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}
#logo{
    margin: 6% auto auto auto;
    height: 1.5rem;
    width:30%;
    display: flex;
    justify-content: space-evenly;
}
#logo>div{
    border: 1px solid transparent;
    height: 100%;
    width:15%;
    margin:0;
}
#logo>div>img{
    width: 100%;
}